
h1 {
    font-family: 'Rye', cursive;
    background-color: transparent;
    font-size: 4.5rem;
    color: transparent;
    -webkit-background-clip: text;
}

.title:hover {
    background-image: url('https://media.giphy.com/media/xUPGcpa9lTpwu2l03e/giphy.gif');

}

@media screen and (max-width: 600px){
    h1 {
        font-size: 3rem;
        width: 70vw;
    }
}
