.App {
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  box-shadow: 0 .75rem 2rem black;
  height: 18vh;
}

.signin {
  color: white; 
}

button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}


button:hover {
  transform: translateY(-1px);
  background: url('https://media.giphy.com/media/xUPGcpa9lTpwu2l03e/giphy.gif');
  border-color: white;
}


header {
  margin-left: 15vw;
}

.get-album-button {
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px){
  .nav-container {
    height:12vh;
  }
  .spotify-button {
      width: 10vw;
      max-height:1vh;
      font-size: .5rem;
      margin-right: 2vw;
  }
  .signin {
    font-size: .5rem;
  }


}
