.App {
  text-align: center;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
